<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      .google-btn {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        background: #ff5353;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/auth/logout">LogOut</a></li>
        <li><a href="/auth/login">LogIn</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
    <header>
      <h1>Login using...</h1>
    </header>
    <main>
      <a class="" google-btn href="/auth/google"> Google+ </a>
    </main>
  </body>
</html>
